.css-fg4pbf.eczokvf1 {
    background: #F0F2F6;
}
.css-18e3th9.egzxvld2 {
    margin-top: -6rem;
}

/*edge-css*/
.css-y4qlto.e1fqkh3o0 {
    top: 1.5rem;
    left: 1.25rem;
}
.css-rrvsjx.e1fqkh3o0 {
    top: 1.5rem;
    left: 1.25rem;
}
.css-163ttbj.e1fqkh3o11 {
    width: 4rem;
}
/* main page CSS*/
.css-1v3fvcr.egzxvld3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 23px 20px -24px rgba(22, 31, 48, 0.24);

}
.css-k1vhr4.egzxvld3 {
    margin-top: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 23px 20px -24px rgba(22,31,48,0,24);
}

/* sidebar and main page gap*/
.css-1wrcr25.egzxvld4 {
    gap: 1rem;
}
/* sttoolbar css*/
.css-14xtw13.e8zbici0
{
    margin-right: 1rem;
    top: 3.600rem;
}

/* header top margin*/
.css-18ni7ap.e8zbici2
{
    top: -45px;
}
/* Sidebar width and margin*/
.css-10xlvwk.e1fqkh3o3 {
    border-radius: 0rem;
    width: 11rem;
    background-color: white;
}
.css-1ope8sv.e1fqkh3o4 {
    border-radius: 0rem;
    width: 13rem;
    background-color: white;
}
/* Home Navigationbar position :initial*/
.css-79elbk.e1fqkh3o8 {
    position: initial;
    padding: 0rem;
}
.css-1cpxqw2.edgvbvh9
{
    color: white;
    background-color: rgb(86, 86, 243);
}
.css-1t092wh.e1tzin5v0 {
    gap: 0rem;
}
.css-msp78y.e1tzin5v0 {
    gap: 0rem;
}
.css-1r6slb0.e1tzin5v2 {
    margin-top: 0rem;
}
.css-1ths729.e1tzin5v0 {
    gap: 0rem;
}
.css-qri22k.egzxvld0 {
    visibility: hidden;
}

/* Resultants chart selection in bar or pie
label.css-15tx938.effi0qh3 {
    visibility: hidden;
    margin-bottom: -1.5rem;
}